{{!-- Header --}}
 
<header class='header'>
	<div class="logo">
		<a href="#test">{{> logo}}</a> 
	</div>

	<nav class='header_nav'>
		<div class='header_nav_right'>
			{{>nav list=header}}
		</div>
	</nav>
</header>




{{#with hero}}
	<div class="hero_container">
		<div class="hero">
			<div class="hero_content">
				<h1 class="hero_title">{{title}}</h1>
				<p class="hero_text">{{text}}</p>
			</div>

			<div class="hero_slider">
				<div class="hero_slider"><img src="{{photo}}" alt="Hero image" class="hero_img"></div>
				<div class="hero_slider_icon hero_slider_left">{{left}}</div>
				<div class="hero_slider_icon hero_slider_right">{{right}}</div>
			</div>
		</div>
	</div>
{{/with}}


{{!-- <input type="text" class="input"> --}}

{{!-- <div class="modal">
	<div class="modal_text">{{hero.text}} <br> Sdo dsovnzfjobv os jdb vj d dfisd fsj dfsjd fsd flsjd flsdjk fdjfsdjf dsf sd f sdfisbdifbsid fsd
	 fuhw fheu fh wheu fweu fhuwe hfuwe fuwehfuiwehf uawheufa hweufa   bhfhsbfdhbfsdhbf sd fhbsd hfbs hfs dh bf shd bif hbsduhjbvosjfb dsjb vsdoj vsdjv dojv sd;vjs v</div>
</div> --}}

<main class="blog">
	{{#each blog}}
		{{> cardBlog data=this}}
	{{/each}}
</main>



{{#with form}}
	<div class="form">
		<div class="form_content">
			<h3 class="form_title">{{title}}</h3>
			<p class="form_info">{{info}}</p>
		</div>
		<div class="form_action">
			<a href="{{href}}" class="button">{{button}}</a>
		</div>
	</div>
{{/with}}


{{!-- Footer --}}
<footer class="footer" id="test">
	<div>
		{{> logo}}
		<span class="footer_copyright">Copyright 2023</span>
	</div>

	{{#each footer}}
		<div>
			<span class="footer_title">{{title}}</span>
			{{> nav list=links isVertical=true}}
		</div>
	{{/each}}

</footer>



