{{!-- Header --}}

<header class='header'>
	<div class="logo">
		{{> logo}}
	</div>

	<nav class='header_nav'>
		<div class='header_nav_right'>
			{{>nav list=header}}
		</div>
	</nav>
</header>

<div class="hero">
	{{#with main}}

		<div class="hero_content">
			<h1 class="hero_title">{{heading}}</h1>
			<p class="hero_text">{{description}}</p>
			<a href="{{href}}" class="main_button">{{button}}</a>
		</div>
		<img src="{{image}}" alt="Main image" class="hero_img">

	{{/with}}
</div>

<main class="blog">
	{{#each featured}}
		{{> cardBlog4 data=this}}
	{{/each}}
</main>
<div class="form4">
	{{#each actions}}
		
			<div class="form_content4">
				<h3 class="form_title4">{{heading}}</h3>
				<a href="{{url}}" class="form_button4">{{text}}</a>
			</div>
		
	{{/each}}
</div>

{{!-- Footer --}}
<footer class="footer">
	<div>
		{{> logo}}
		<span class="footer_copyright">© 2023</span>
	</div>

	{{#each footer}}
		<div>
			<span class="footer_title">{{title}}</span>
			{{> nav list=links isVertical=true}}
		</div>
	{{/each}}

</footer>



