<div class="card_article">
        <img src="{{photo}}" alt="{{name}}" id="{{id}}" class="card_article_img">
        {{>isNew}}
        <strong class="card_article_title">{{name}}</strong>
        <p class="card_article_description">{{description}}</p>
        <a href="#" class="card_article_button">Read All</a>
</div>