{{#with data}}
  <div class='card4'>
    <div
      class='card_img4'
      style='background-image: url({{photo}});'
    ></div>
    <h2 class='card_title4'>{{heading}}</h2>
    <p class='card_text4'>{{info}}</p>
    <a href='{{href}}' class='card_button4'>{{linkText}}</a>
  </div>
{{/with}}